.contact-button {
  color: white;
  background-color: black;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #333;
}

.contact-button p {
   font-size: .8rem;
   padding:8px 15px
}


