body {
  font-family: "Montserrat", Arial, sans-serif;
  background: black;
  min-height: 100vh;
  margin: 0;
}


footer {
  text-align: center;
  padding: 24px 0;
  color: #888;
  font-size: 1rem;
  background: transparent;
}

@media (max-width: 900px) {
  .project-wrapper {
    flex-direction: column;
    max-width: 98vw;
  }
  .project-cards {
    flex-direction: column;
    align-items: center;
  }

  .intro-section {
    padding-bottom: 180px;
  }

  .intro-section h1 {
    margin-left: 35px;
  }

  .intro-section img {
    margin: 0 32px;
  }
  .my-info h2 {
    margin: 0 60px 0 0;
  }

  .my-info p {
    margin: 0 54px 0 0;
  }

  .project-container {
    margin: 25px 250px 0 0;
  }
}
