.intro-section{
    background: linear-gradient(135deg, indigo 20%, midnightblue 100%);
  backdrop-filter: blur(8px);
  border-radius: 24px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  padding: 32px 0;
  width: 100%;
  max-width: 1300px;
}

h1 {
  font-size: 2.5rem;
  color: white;
  padding: 5vh 0 0 10vh;
}

img {
  height: auto;
  width: 55vh;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10vh;
  background: transparent;
  float: right;
}

h2 {
  font-size: 1.8rem;
  color: white;
  padding: 5vh 0 0 10vh;
}

p {
  font-size: 1.2rem;
  padding: 2vh 0 0 10vh;
  color: white;
}

.projects-button {
  position: absolute;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 5vh;
}

.projects-button:hover {
  background-color: #0056b3;
  transition: ease-in-out 0.3s;
}

.my-info {
  height: 60vh;
  text-align: center;
  margin-top: 70px;
}

.social-links a {
  font-size: 1.2rem;
  color: #666;
  background-color: white;
  padding: 10px 10px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.2rem;
}

.social-links .linkedIn:hover,
.social-links .facebook:hover,
.social-links .gitHub:hover {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  display: flex;
}

.social-links {
  margin-top: 30px;
  justify-content: center;
  display: flex;
  gap: 15px;
}

